*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SN Pro", sans-serif;
    font-weight: 300;
}

.projectname {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 30px auto;
    background-color: black;
    color: rgb(233, 233, 233);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-size: 28px;
    /* margin-top: 20%; */
}

.projectname:hover {
    background-color: rgb(79, 79, 79);
    cursor: pointer;
}

.everythingcontainer{
    height: 90%;
    width: 90%;
    box-shadow: 0vmin 0vmin 5vmin rgba(0,0,0,0.3);
    border-radius: 1vmin;
    margin-left: 5%;
    margin-top: 2%;
    padding-top:2%;
}
.everything{
    display: flex;
    flex-direction: column;
}
.img{
    border-radius: 1vmin;
    height: 95%;
    width: 90%;
    border: 0.1vmin solid rgba(0, 0, 0,0.3);
}
.img:hover{
    border: 0.1vmin solid rgba(0, 0, 0,0.5);
}
.allimg{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin-left: 2%;
    max-height: 90%;
    overflow : hidden;
    overflow-y: auto;
}